* {
  padding: 0px;
  margin: 0px;
}

.logo {
    width: 300px;
    height: 50px;
    margin-top: 25px;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: #512079;
    font-family: "Josefin Sans", sans-serif;
}

h3 {
  text-align: center;
  margin: 20px 20px 20px 20px;
  color: #512079;
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;
}

nav{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    background-color: rgb(250, 201, 214);
    height:50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
  }
  
.links {
    text-decoration: none;
    text-align: center;
    color: #512079;
    display: block;
    padding: 0px 20px;
    border: #512079;
    transition: 0.3s;
  }
  
.links:hover {
    background-color: rgb(164, 114, 173, .3);
  }
  
.menu{
  list-style:none;
  background-color: rgb(250, 201, 214);
  width: 100%;
  margin: auto;
}

.menu-p{
  line-height: 50px;
  float: left;
}


ul li ul li {
  list-style:none;
  background-color: rgb(250, 201, 214);
}

ul li {
  letter-spacing: 3px;
  float: center;
  width: 270px;
}


ul ul {
  position: absolute;
  visibility: hidden;
}

ul li:hover ul {
  visibility: visible;
}


.box {
  margin: 10px;
}

#main-container{  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(250, 201, 214);
    border-radius: 10px;
    padding: 25px;
}

label{
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 17px;
}

input{
  border:none;
  border-bottom: 2px solid ;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 14px;
  background-color: rgb(250, 201, 214);
  border-color: rgba(243, 177, 193, 0.74);
  width: 400px;
}

input:focus{
  border-color: rgb(250, 201, 214);
}

#medico{
  margin-top: 10px;
  width: 400px;
  height: 40px;
  background-color: rgba(250, 215, 224, 0.5);
  border: 2px solid rgb(243, 177, 194);
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.medicos{
  width: 400px;
  background-color: rgb(250, 201, 214);
}

#msg{
  width: 400px;
  height: 70px;
  border-radius: 4px;
  margin-top: 10px;
  background-color: rgba(250, 215, 224, 0.5);
  border: 2px solid rgb(243, 177, 194);
  
}

footer{
  margin-top: 60px;
  background-color: rgb(250, 201, 214);
  transition-duration: 0.6s;
}

footer:hover {
  background-color: rgb(243, 177, 194);
}

footer a {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  display: block;
  text-align: center;
  padding: 15px 15px;
}

.botao{
  margin-top: 20px;
  width: 200px;
  height: 30px;
  background-color:#5120797e; 
  border: none;
  border-radius: 4px;
  color:white; 
  cursor: pointer;
}